@import '/styles/common.scss';

//header
.header {
    &__container {
            // position: relative;
            // min-height: 60px;
            // padding-top: 60px;
            // padding-bottom: 60px;
    }
    &__content{
        position: absolute;
            padding-top: 60px;
            // width: 100%;
            // display: flex;
            // align-items: center;
            // justify-content: space-between;

    }
    &__logo{}
    &__menu{}
}

//start screen
.start-screen {
    background: $start-screen-gradient-background;
    &__container{
        padding-top: 180px;
        display: flex;
        // align-items: baseline;
        justify-content: space-between;
        
    }
    &__content{}
    
    &__image {
        position: relative;
        width: 698px;
        height: 728px;
        bottom: 0px;
        z-index: 1;
}
.content {
    display: flex;
    margin-top: 163px;
    flex-direction: column;
    row-gap: 42px;
    max-width: 460px;

    &__title {
        @include setfonts($h2, $color-light-xl);
        white-space: pre-line;
    }

    &__subtitle {
        @include setfonts($paragraph-l, $color-dark-s)
    }

    &__button {
        padding: 0 45px;
        max-width: max-content;
    }
}
   
}
//about
.about {
    &__container{
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 120px;
        padding-top: 80px;
        padding-bottom: 100px;
    }
    &-content {
        display: flex;
        flex-direction: column;
        row-gap: 25px;
        max-width: 430px;
        &__title {
            // @include setfonts($h3,$color-dark-l);
            // white-space: pre-line;
        }
        &__subtitle {
            @include setfonts($paragraph-l, $color-dark-xl);
        }
    }    
    &__image {}

}
//pets
.pets {
    background: $color-light-l;
    &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    row-gap:60px;
    padding-top: 80px;
    padding-bottom: 100px;
    // width: 100vw;
    }
    &__title {
        // @include setfonts($h3,$color-dark-l);
        // white-space: pre-line;
        text-align: center;
        max-height: 90px;
    }

    &__slider {
        // width: 100%;
    }
    &__button {
        // @extend .button-primary;
        padding: 0 45px;
    }
   
}
.slider {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // column-gap:52px;
    width: 100%;
    &__right,
    &__left {
        // @extend .button-arrow;
    }
}
.cards {
     display: flex;
     justify-content: space-between;
     column-gap: 90px;
 }
 //card

//help
.help {
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 60px;
        padding-top: 80px;
        padding-bottom: 100px;
    }

    &__title {
        // @include setfonts($h3,$color-dark-l);
        // white-space: pre-line;
        text-align: center;
        max-height: 90px;
    }

    &__list {
        max-width: 1026px;//!
        // min-height: 281px;
    }
}

.list {
    // display: grid;
    // grid-template: 1fr 1fr/ repeat(5,1fr);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
    column-gap: 119px;
    row-gap: 55px;
       
    &__item {
        $mr-item:84px;
        &:nth-last-child(1) {
            margin-right: $mr-item;
        }
        &:nth-last-child(4) {
            margin-left: $mr-item;
        }
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        min-height:113px;
    }

    &__icon {}

    &__text {
        @include setfonts($h4,$color-dark-l);
        // text-align:center;
    }
}
//donation
.donation {
    background: $color-light-s;
    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 915px;
        padding-top: 80px;
        padding-bottom: 100px;
    }

    &__image {}

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        // row-gap: 20px;
        min-height: 282px;
        max-width: 380px;
    }

    &__title {
        // @include setfonts($h3,$color-dark-l);
        // white-space: pre-line;
        max-height: 90px;
    }

    &__subtitle {
        @include setfonts($h5,$color-dark-l);
    }

    &__legal-info {
        @include setfonts($paragraph-s,$color-dark-m);
    }
}

.credit-card{
    display: flex;
    align-items: center;
    background: $color-primary;
    max-width: fit-content;
    min-height: 43px;
    border-radius:9px;
    column-gap:15px;
    padding: 0 15px;
    // justify-content: space-around;
    &__image {}

    &__number {
        @include setfonts($h4,$color-dark-l);
    }
}


