@use 'sass:map';
@use 'sass:color';
@use 'sass:math';
@import '~normalize.css';
@import 'fonts'; @import'colors';
//breakpoints
$bp-large: 1279px;
$bp-medium: 767px;
$bg:rgba(41, 41, 41, 0.6);
*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a{
    color:inherit;
    text-decoration: none;
}
ul,ol,li{
    list-style: none;
}

img{
    vertical-align: top;
}
h1,h2,h3,h4,h5,h6{
    font-weight: inherit;
    font-size: inherit;
}
html,body {
    height: 100%;
    line-height: 1;
    font-size: 16px;
    color: #000;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.wrapper{
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // align-items: center;
}
._scroll-lock{
    overflow: hidden;
}
._display-none{
    display: none !important;
}
._container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
    box-sizing:content-box;
    @media screen and (max-width:$bp-medium) {
        &{
            padding: 0 10px;
        }
    }
}
.button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    min-height: 52px;
    min-width: 52px;
    gap: 10px;
    border-radius: 100px;
    cursor: pointer;
    color: $color-dark-3xl;
    font-family: Georgia, serif;
    font-size: 17px;
    line-height: 1.3;
    letter-spacing: 0.06em;
    background: transparent;
  
    &_primary {
        background: $color-primary;
    }
    &_secondary {
        border: 2px solid $color-primary;
    }
    &:hover, 
    &_hover{
        background: $color-primary-light;
        border-color:$color-primary-light;
        // border: 2px solid $color-primary-light;
    }
    &:active,
    &_active {
        background: $color-primary;
        border-color: $color-primary;
    }
    &:disabled,
    &_inactive {
        border-color: $color-dark-s;
        color: $color-dark-s;
        background: transparent;
        cursor: not-allowed;
        $brightness-coef: 5;
        &>img {
            filter: brightness($brightness-coef);
        }
    }
    
}

//header

.header {
    
    &__container {
        // position: relative;
        
    }

    &__content {
        // position: relative;
        // z-index: 10;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        // transition: width 2s ease;
        &._active{
            position: fixed;
            width: 320px;
            right: 0;
            padding-left: 15px;
            padding-right: 15px;
          
        }
          &._active::after {
            display: block;
            position: fixed;
            z-index: -1;
            width: 100vw;
            height: 100vh;
            top: 0;
            left: 0;
          
            background: $bg;
            content: '';
        }
        
        
    }
    $burger-transition:all 0.2s ease;
    &__burger{
        display: none;
            cursor: pointer;
            width: 30px;
            height: 22px;
            z-index: 2;
            margin-right: 40px;
            // margin-left: 40px;
            transition: $burger-transition;
        @media screen and (max-width:$bp-medium) {
            &{
                display: block;
            }
        }
        &._active{
            transform: rotate(-90deg);
        }
    }
    &__logo {
        z-index: 2;
        // transition: margin 2s ease;
        &._active{
            // margin-right: 100px;

        }
    }

    &__menu {
        transition: $burger-transition;
        @media screen and (max-width:$bp-medium) {
                & {
                    position: fixed;
                    top: 0;
                    right: -320px;
                    height: 100vh;
                    width: 320px;
                    z-index: 1;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }
            }
        @media screen and (max-height:600px) and (max-width:$bp-medium) {
            &{
                padding-top: 120px;
                justify-content: start;
            }
        }
        &._active {
                top: 0;
                right:  0;
            }
      
    }
}
.logo {
    display: flex;
    min-height: 60px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    &__title {
        @include setfonts($logo-title);
        margin: 0;
        &_theme_dark{
            color: $color-dark-l;
        }
        &_theme_light{
            color: $color-primary;
        }
    }
    &__subtitle {
        text-align: center;
        @include setfonts($logo-subtitle);
        &_theme_dark{
            color: $color-dark-3xl;
        }
        &_theme_light{
            color: $color-light-xl;
        }
    }
}
//nav menu
.menu {
   
    &__list {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        column-gap: 36px;
        @media screen and (max-width:$bp-medium) {
            & {
                position: relative;
                flex-direction: column;
                // flex: 0 1 auto;
                align-items: center;
                // row-gap: 40px;
                overflow-y: scroll;
                max-height: 327px;
                    height: 100%;
                // max-height: min-content;
            }
        }
    }
    &__item {
        @include setfonts($paragraph-l);
        
        &_theme_light{
            color: $color-dark-s;
            &:hover,
            &_hover {
                color: $color-light-s;
            }
            &.menu__item_active {
                color: $color-light-s;
            }
        }
        &_theme_dark{
            color: $color-dark-xl;
            &:hover,
            &_hover {
                color: $color-dark-3xl;
            }
            &.menu__item_active {
                color: $color-dark-3xl;
            }
           
        }  
        &:active,
        &_active {
            border-bottom: 3px solid $color-primary;
        }
        @media screen and (max-width:$bp-medium) {
            & {
                @include setfonts($paragraph-mobile-menu);
            }
        }
       
    }

    &__link {}

}
//card
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
    border-radius: 9px;
    background: $color-light-s;
    padding-bottom: 30px;
    max-width: 270px;
    max-height: 435px;

    &:hover,
    &_hover {
        box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);

        &>button {
            @extend .button_hover;
        }
    }

    &__image {
        border-radius: 9px 9px 0px 0px;
    }

    &__name {
        @include setfonts($h4, $color-dark-xl);
        line-height: auto;
    }

    &__button {
        width: 187px;
    }
}
.section-title{
    @include setfonts($h3,$color-dark-l);
    white-space: pre-line;
    @media screen and (max-width: $bp-medium) {
            & {
                @include setfonts($h3-mobile);
                text-align: center;
            }
        }
}
//footer

.footer {
    background: $footer-gradient-background;

    &__container {
        // height: 500px;
        padding-top: 40px;
        display: flex;
        // align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;;
        @media screen and (max-width: $bp-large) {
            & {

                padding-top: 30px;
                // padding-bottom: 42px;
                row-gap: 65px;
                justify-content: center;
            }
        }
        @media screen and (max-width: $bp-medium) {
            & {
                row-gap: 40px;
                
            }
        }

    }

    &__info {
        margin-top: 16px;
        // column-gap: 160px;
        width: 100%;
        max-width: 740px;
    }

    &__image {
        max-width: 300px;
        @media screen and (max-width: $bp-large) {
                & {
                    flex:1 0 auto;
                   
                }
            }
        @media screen and (max-width: $bp-medium) {
                & {
                    
                    max-width: 260px;
                    
                }
            }
    }
}


.info {
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: $bp-large) {
            & {    
                margin:  0;
                max-width: 708px;
                column-gap: 60px;
                padding: 0 30px;
            }
        }
    @media screen and (max-width: $bp-medium) {
            & {
                padding: 0;
                // flex-wrap: wrap;
                row-gap:40px;
                flex-direction: column;
                align-items: center;
                // margin: 0 auto;

            }
        }

    &__item {
        display: flex;
        flex-direction: column;
        min-height: 234px;
        @media screen and (max-width: $bp-medium) {
                & {
                    min-height: 0;
                    align-items: center;
                    max-width: 300px;
        
                }
            }
    }

    &__title {
        @include setfonts($h3, $color-light-xl);
        white-space: pre-line;
        @media screen and (max-width: $bp-medium) {
                & {
                    @include setfonts($h3-mobile);
                    text-align: center;
                    white-space:normal;
                }
            }
    }

    &__content {
        display: flex;
        align-items: center;
        column-gap: 20px;
        // flex-direction: column;
        @include setfonts($h4, $color-primary);
    }

    &__icon {}

    &__text {
        white-space: pre-line;
    }
}

.contacts {
    row-gap: 40px;
}

.contacts .info__content:last-child{
    margin-top: 4px;
    

}
.location {
    min-width: 302px;
    row-gap: 32px;
    @media screen and (max-width: $bp-medium) {
        &{
            row-gap: 40px;
        }
        &>.info__title{
            max-width: 260px;
        }
        &>.info__content{
            align-self: flex-start;
        }
    }
}
//modal window
.facts {}

.modal-window {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $bg;
    z-index: 2;
    &__container {
        flex: 1;
        position: relative;
        // z-index: 3;
        max-width: 900px;
        min-height: 500px;
        box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
        border-radius:9px;
        background: $color-light-s;
        padding-right: 20px;
        display: flex;
        gap: 30px;
        @media screen and (max-width: $bp-large){
            max-width: 630px;
            min-height: 350px;
            padding-right: 10px;
            gap: 10px;
        }
        @media screen and (max-width: $bp-medium){
            max-width: 240px;
            min-height: 340px;
            padding: 10px;
            // gap: 10px;
        }
    }
    &__close{
        position: absolute;
        top: calc(-52px);
        right:calc(-52px + 10px) ;
        @media screen and (max-width: $bp-medium) {
            right: calc(-52px + 22px);
        }
    }
    &__image {
        max-width: 500px;
        max-height: 500px;
        width: 100%;
        height: 100%;
        min-width: 350px;
        min-height: 350px;
        // flex: 1;
        flex: 0 0 60%;
        border-radius: 9px 0 0 9px ;
        @media screen and (max-width: $bp-large) {
            flex: 0 0 calc(35/ 63 *100%);
        }
        @media screen and (max-width: $bp-medium) {
                display: none;
        }
    }
    &__textcontent{
        display: flex;
        align-self: start;
        flex-direction: column;
        gap:40px;
        margin-top: 50px;
        @media screen and (max-width: $bp-large) {
            align-self: center;
            margin: 0;
            gap: 20px;
        }
        @media screen and (max-width: $bp-medium) {
                align-items: center;
        }
    }
    &__header{
        @media screen and (max-width: $bp-medium) {
              text-align: center;
        }
    }
    &__name {
        @include setfonts($h3);
        margin-bottom: 10px;
    }

    &__breed {
        @include setfonts($h4);
    }

    &__description {
        @include setfonts($h5);
        @media screen and (max-width: $bp-large) {
                font-size: 13px;
        }
    }
    $marker-size: 4px;
    &__facts {
        @include setfonts($h5);
        display: flex;
        flex-direction: column;
        flex:0 0;
        gap: 12px;
        justify-content: start;
        &>strong{
            @include setfonts($h5-modal-window);
        }
        padding-left: calc(10px + $marker-size);
        // margin-left: 10px;
        @media screen and (max-width: $bp-large) {
            gap: 5px;
        }
        @media screen and (max-width: $bp-medium) {
            align-self: start;
            margin-top: 4px;
            // gap: 6px;
        }
    }
    &__item {
        position: relative;
        &::before{
            display: block;
            position: absolute;
            border-radius:50%;
            content:"";
            color: #000;
            top: calc(50% - $marker-size / 2);
            left: calc(-10px - $marker-size);
            background: $color-primary;
            width:  $marker-size;
            height:  $marker-size;
        }
    }
}

